.descriptionpresentation {
  padding: 1rem;
  text-shadow: solid;
  font-size: 2rem;
  font: solid;
}

.descriptionimage{
  padding: 2rem;
}

#Presentation {
  display: flex;
  align-items: center;
}

@media (max-width: 768px){
  #Presentation {
  display: block;
  }
}
