nav {
  text-align: center;
  margin: 1rem 0rem;
}

@media (max-width: 768px){
  nav{
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 2rem;
  }
}

nav li {
  display: inline;
  text-align: center;
}

nav ul {
  display: inline-table;
  padding: 0;
}

nav a {
  padding: 1rem;
  border-radius: 0.5rem;
}
