body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-0 {
  background: #0A1931;
  color: #FFC947;
}

.background-0 a {
  color: #FFC947;
  text-decoration: none;
  transition: all 350ms;
}

.background-0 a:hover {
  color: #EFEFEF;
  background-color: #185ADB;
}

.background-1 {
  background: #EFEFEF;
  text-align: center;
}

.background-2 {
  background: #FFC947;
  text-align: center;
}

.background-3 {
  background: #185ADB;
  color: #EFEFEF;
  text-align: center;
}

h1, h2 {
  text-align: center;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

ul, ol, li {
  text-align: left;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}
