/* --------------------------General----------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


/* ---------------------------------Header----------------------------------- */

.header {
    height: 66vh;
    display: flex;
    align-items: center;
}

.content {
    max-width: 49rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-video video {
    margin-top: 9vh;
    min-width: 65%;
    min-height: 65%;
}


/* .header-over {
    margin-top: 9vh;
    height: 89vh;
    width: 64.5vw;
    position: absolute;
    top: 0;
    left: 17.2vw;
    background: #000;
    z-index: 1;
    opacity: .25;
} */

.header-content {
    z-index: 2;
    padding: 65vh 0 0 0;
}

.header-content h1 {
    padding-top: 10px;
}

.header-content h1,
.header-content p {
    text-shadow: 3px 3px 3px #000;
}

nav {
    margin-top: 30vh;
}

nav li {
    font-size: 24px;
}


/* ------------------------------Descripción------------------------------- */

.Descripcion {
    padding-top: 40vh;
}