    /* --------------------------General----------------------------------------- */
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body main {
        /* background: #c2c2c2; */
        background-image: url(../img-video/dark.png);
    }
    
    .seccion .columna {
        padding: 90px 0 0 0;
    }
    /* ---------------------------------Header----------------------------------- */
    
    header {
        height: 550px;
    }
    
    .titulo {
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        background: #062768;
        z-index: 2;
        /* color: #fff; */
        padding: 20px;
        font-size: 24px;
    }
    
    .video {
        padding-top: 200px;
        padding-bottom: 50px;
    }
    
    .video .informacion {
        padding-top: 80px;
    }
    
    .video p {
        padding: 5px;
        font-size: 24px;
    }
    
    .video video {
        width: 400px;
    }
    /* -----------------------------------------menu-------------------------------------------------- */
    
    header .contenedor {
        position: fixed;
        top: 60px;
        left: 0;
        /* padding-top: 10px; */
        width: 100%;
        box-sizing: border-box;
        background: #062768;
        z-index: 2;
        align-items: center;
    }
    
    header nav {
        text-align: center;
    }
    
    header nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    header nav ul li {
        list-style: none;
        text-align: center;
    }
    
    nav ul li a {
        height: 54px;
        line-height: 40px;
        /* padding: 0 25px; */
        color: #fff;
        text-decoration: none;
        display: block;
    }
    
    nav ul li a:hover,
    nav ul li a.active {
        color: #fff;
        background: #FF0000;
        text-decoration: none;
    }
    
    .barras {
        /* color: #fff; */
        float: right;
        line-height: 10px;
        font-size: 30px;
        cursor: pointer;
        /* display: none; */
        z-index: 10;
    }
    /* ------------------------------Descripción------------------------------- */
    
    .Descripcion {
        margin-top: 100px;
        padding-top: 60px;
        padding-bottom: 20px;
        text-align: center;
        color: #FFFFFF
    }
    
    .Descripcion p {
        font-size: 24px;
        margin: 30px;
        padding: 20px;
    }
    
    .Descripcion .img {
        padding: 140px 0 0 0;
    }
    /* -----------------------------------------------Temario-------------------------------------------------- */
    
    .Temario {
        padding-top: 40px;
        padding-bottom: 60px;
        /* background: #0047b3; */
        color: #FFFFFF
    }
    
    .Temario .lista {
        padding-left: 100px;
    }
    
    .Temario .img .reflexion {
        padding-left: 30px;
    }
    /* --------------------------------------------Metodología-------------------------------------------------------- */
    
    .Metodologia {
        padding-top: 40px;
        padding-bottom: 100px;
        /* background: #1a66ff; */
        color: #fff;
    }
    /* -----------------------------------Evaluacion------------------------------------------------ */
    
    .Evaluacion {
        padding-top: 40px;
        padding-bottom: 60px;
        /* background: #0B610B; */
        color: #fff;
    }
    /* -------------------------------Bibliografia------------------------------------------- */
    
    .Bibliografia {
        padding-top: 40px;
        padding-bottom: 60px;
        color: #FFFFFF
    }
    /*-------------------------------Contacto--------------------------------------------*/
    
    .Contacto {
        padding-top: 40px;
        padding-bottom: 80px;
        /* background: rgb(38, 38, 38, 0.8); */
        color: #fff;
    }
    /* ---------------------------------Pie-página------------------------------------------ */
    
    .Pie-pagina {
        background: #0A0668;
        color: #fff;
        padding: 10px;
    }
    /* -----------------------------Media----------------------------------------- */
    
    @media(max-width: 991px) {
        /* header .contenedor {
            padding: 0 20px;
        } */
        .titulo h1 {
            text-align: left;
            padding-left: 10px;
        }
        .barras {
            display: block;
            z-index: 3;
        }
        header nav {
            position: absolute;
            width: 25%;
            height: calc(100vh-50px);
            background: #333;
            top: 5px;
            left: -100%;
            transition: 0.5s;
        }
        header nav.active {
            left: 0;
        }
        header nav ul {
            display: block;
            text-align: center;
        }
        header nav ul li a {
            border-bottom: 1px solid rgba(0, 0, 0, .3);
        }
    }
    
    @media(max-width: 900px) {
        .header-video video {
            width: 100%;
        }
    }
    
    @media(max-width: 500px) {
        header nav {
            width: 35%;
        }
    }
    
    @media(max-width: 400px) {
        .header {
            height: 300px;
        }
        .header-content {
            padding-top: 70px;
        }
        .header-content h1 {
            padding-top: 5px;
            font-size: 16px;
        }
        .header-content p {
            font-size: 12px;
        }
        .Descripcion {
            margin-top: -15px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .Descripcion .img img {
            width: 260px;
        }
        .Temario .img img {
            width: 290px;
        }
    }